{% extends 'base.html' %}
 
{% block body  %}





<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="\static\img\6.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" >
          <h5>Want To Travel The WORLD</h5>
          <p>Dont worry we got you covered</p>
        </div>
      </div>
      
    
  </div>


  <br><br><br><br><br><br>

<h1 class = 'px-5'>UMRAH</h1>
<br><br>
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Normal</strong>
          <h3 class="mb-0">Umrah Package 1</h3>
            <p>Visa | Air ticket | Accomodation | Transport</p>
            <p>Makkah Hotel Distance: <strong>900m</strong></p>
            <p>Madina Hotel Distance: <strong>600m</strong></p>
            <p>Days: <strong>21</strong></p>
            <p>Price: <strong>185,000</strong></p>
            <p>Contact : <strong>Nouman Javed Chief Executive <strong style="color: rgb(189, 127, 69) ;">0345-7279019</strong></strong></p>
            <p>Contact : <strong>Anas Ibne Asad Tour Manager <strong style="color: rgb(189, 127, 69) ;">0345-8949999</strong></strong></p>
        </div>
        <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="\static\img\makkah.jpg" >
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Special</strong>
          <h3 class="mb-0">Umrah Package 2</h3>
            <p>Visa | Air ticket | Accomodation | Transport</p>
            <p>Makkah Hotel Distance: <strong>900m</strong></p>
            <p>Madina Hotel Distance: <strong>600m</strong></p>
            <p>Days: <strong>28</strong></p>
            <p>Price: <strong>190,000</strong></p>
            <p>Contact : <strong>Nouman Javed Chief Executive <strong style="color: rgb(189, 127, 69) ;">0345-7279019</strong></strong></p>
            <p>Contact : <strong>Anas Ibne Asad Tour Manager <strong style="color: rgb(189, 127, 69) ;">0345-8949999</strong></strong></p>
          </div>
        <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="\static\img\madina.png" >
      
        </div>
      </div>
    </div>
  </div>

  
    
      
  </div>

 

  <br><br><br><br>

  <h1 class = 'px-5'>TOUR AROUND THE GLOBE</h1>
<br><br>

  <hr class="featurette-divider" >
  


<div class="row featurette  px-5 " >
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">SIRILANKA<span class="text-muted">   Be Ready To Get Surprised!</span></h2>
      <p>Visa | Air ticket | Accomodation | Transport</p>
            
            <p>Days: <strong>7</strong></p>
            <p>Price: <strong>199,000</strong></p>
            <p>Hotel: <strong>3 star</strong></p>
            <p>Contact : <strong>Nouman Javed Chief Executive <strong style="color: rgb(189, 127, 69) ;">0345-7279019</strong></strong></p>
            <p>Contact : <strong>Anas Ibne Asad Tour Manager <strong style="color: rgb(189, 127, 69) ;">0345-8949999</strong></strong></p>
          </div>
    <div class="col-md-5">
        <img src="\static\img\sirilanka.jpg" class="d-block w-100" alt="...">

    </div>
  </div>

  <hr class="featurette-divider" >

  <div class="row featurette px-5" >
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">SINGAPORE <span class="text-muted">Get A Taste Of HEAVEN</span></h2>
      <p>Visa | Air ticket | Accomodation | Transport</p>      
      <p>Days: <strong>12</strong></p>
            <p>Price: <strong>220,000</strong></p>
            <p>Hotel: <strong>3 star</strong></p>
            <p>Extras: <strong>Travel Guide</strong></p>
            <p>Contact : <strong>Nouman Javed Chief Executive <strong style="color: rgb(189, 127, 69) ;">0345-7279019</strong></strong></p>
            <p>Contact : <strong>Anas Ibne Asad Tour Manager <strong style="color: rgb(189, 127, 69) ;">0345-8949999</strong></strong></p>
          </div>
    <div class="col-md-5 order-md-1">
        <img src="\static\img\singapore.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <hr class="featurette-divider">




  <div class="row featurette  px-5">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">DUBAI <span class="text-muted"> It’ll blow your mind.</span></h2>
            <p>Visa | Air ticket | Accomodation | Transport</p>      
            <p>Days: <strong>7</strong></p>
            <p>Price: <strong>230,000</strong></p>
            <p>Hotel: <strong>5 star</strong></p>
            <p>Extras: <strong>Burj Khalife Visit | Meal</strong></p>
            <p>Contact : <strong>Nouman Javed Chief Executive <strong style="color: rgb(189, 127, 69) ;">0345-7279019</strong></strong></p>
            <p>Contact : <strong>Anas Ibne Asad Tour Manager <strong style="color: rgb(189, 127, 69) ;">0345-8949999</strong></strong></p>
          </div>
    <div class="col-md-5">
        <img src="\static\img\dubai.jpg" class="d-block w-100" alt="...">
    </div>
  </div>

  <hr class="featurette-divider">





{% endblock body  %}
