{% extends 'base.html' %}
 
{% block body  %}

<div class = 'px-5'>
<h1 class = 'px-5'>SERVICES</h1>
<h3 class="text-muted px-5">We are a single call away</h3>
<br><br>
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          
          <h3 class="mb-0">VISA</h3>
            <br>
            <p>Tourist visa</p>
            <p>Visit visa</p>
            <p>Pilgrimage visa ( Hajj | Umrah )</p>
            
            <p>Days: <strong>Varies</strong></p>
            <p>Price: <strong>Varies</strong></p>
            <p>Contact : <strong>Nouman Javed Chief Executive <strong style="color: rgb(189, 127, 69) ;">0345-7279019</strong></strong></p>
            <p>Contact : <strong>Anas Ibne Asad Tour Manager <strong style="color: rgb(189, 127, 69) ;">0345-8949999</strong></strong></p>
            
        </div>
        <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img " width="140" height="140" src="\static\img\visa.png" >
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          
          <h3 class="mb-0">Tickets</h3>
            <br>
            <p>Domestic tickets</p>
            <p>International tickets</p>
            <p>Air Lines: <strong>PIA | Air Sial | Air Blue | Qatar Airline | Saudi Airline | Emirates |  Fly Dubai |
               Turkish Airline | Serene Air | Gulf Airline | American Airline | Salam Air</strong></p>
            <p>Price: <strong>Inexpensive</strong></p>
            <p>Contact : <strong>Nouman Javed Chief Executive <strong style="color: rgb(189, 127, 69) ;">0345-7279019</strong></strong></p>
            <p>Contact : <strong>Anas Ibne Asad Tour Manager <strong style="color: rgb(189, 127, 69) ;">0345-8949999</strong></strong></p>
           
        </div>
        <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img " width="140" height="140" src="\static\img\ticket.png" >
      
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          
          <h3 class="mb-0">TOUR in PAKISTAN</h3>
            <br>
            <p>Pakistan</p>
            <p>Abroad</p>
            <p>Days: <strong>Varies</strong></p>
            <p>Price: <strong>Varies</strong></p>
            <p>Contact : <strong>Nouman Javed Chief Executive <strong style="color: rgb(189, 127, 69) ;">0345-7279019</strong></strong></p>
            <p>Contact : <strong>Anas Ibne Asad Tour Manager <strong style="color: rgb(189, 127, 69) ;">0345-8949999</strong></strong></p>
            <br>
              
          </div>
        <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="\static\img\pak.jpg" >
        </div>
      </div>
    </div>
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            
            <h3 class="mb-0">TOUR ABROAD</h3>
              <p>Visa | Air ticket | Accomodation | Transport</p>
              <p>Countries: <strong>Dubai | Turkey | Azerbaijan | Srilanka | Thailand |
                 Malaysia | Singapore</strong></p>
              <p>Days: <strong>Varies</strong></p>
              <p>Price: <strong>Varies</strong></p>
              <p>Contact : <strong>Nouman Javed Chief Executive <strong style="color: rgb(189, 127, 69) ;">0345-7279019</strong></strong></p>
              <p>Contact : <strong>Anas Ibne Asad Tour Manager <strong style="color: rgb(189, 127, 69) ;">0345-8949999</strong></strong></p>
              
              <br>
          </div>
          <div class="col-auto d-none d-lg-block">
              <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="\static\img\world.jpeg" >
        
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            
            <h3 class="mb-0">Customized</h3>
              <br>
              <p>All Tour/Umrah packages are customizable according to your needs</p>
              <p>Contact : <strong>Nouman Javed Chief Executive <strong style="color: rgb(189, 127, 69) ;">0345-7279019</strong></strong></p>
              <p>Contact : <strong>Anas Ibne Asad Tour Manager <strong style="color: rgb(189, 127, 69) ;">0345-8949999</strong></strong></p>
              <br>
                
            </div>
          <div class="col-auto d-none d-lg-block">
              <img class="bd-placeholder-img " width="140" height="140" src="\static\img\customize.png" >
          </div>
        </div>
      </div>
</div>
</div>
{% endblock body %}